body {
  background: #F5F5F5;
  color: #58666E;
  margin: 0;
  line-height: 1.7em;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

.Fan {
  background-color: #F5F5F5;
  min-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  color: #58666E;
}

.Fan .Container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  min-height: 1px;
}

.FanChat {
  position: fixed;
  bottom: 0;
  right: 15px;
}

@media (min-width: 768px) {
  .Fan .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Fan .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Fan .Container {
    width: 1170px;
  }
}

/* Embed styles */
.FanEmbed.Fan {
  background: #262626;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.FanEmbed .FanBody {
  height: 84vh;
}

.FanEmbed .FanBody.inLine {
  height: 76vh;
}

.FanEmbed .FanBody .imageHolder {
  border: none;
  background: #262626;
}

.FanEmbed .FanHeader {
  border: 1px solid #262626;
}

.FanEmbed .btn.green.getInLine,
.FanEmbed .btn.red.getInLine {
  margin-top: 0;
  border-color: #262626;
}

.FanEmbed .FanHeader-main h4 {
  color: #FFFFFF;
}

.FanEmbed .FanHeader-main {
  background: #262626;
  padding: 12px 12px;
  min-height: 63px;
}

@media (min-width: 768px) {
  .FanEmbed .Container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .FanEmbed .Container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .FanEmbed .Container {
    width: 100%;
  }
}
