body {
  background: #F5F5F5;
  color: #58666E;
  margin: 0;
  line-height: 1.7em;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

.Fan {
  background-color: #F5F5F5;
  min-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  color: #58666E;
}

.Fan .Container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  min-height: 1px;
}

@media (min-width: 768px) {
  .Fan .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Fan .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Fan .Container {
    width: 1170px;
  }
}
