.Producer {
    display: flex;
    position: relative;
    width: 100vw;
}
.Producer-main {
    height: 100vh;
    width: calc(100% - 320px);
    min-width: 750px;
    transition: width .5s;
}

.Producer-main.full {
    width: 100%;
}

