<% include header.ejs %>

<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix">

    <% include ../common/app_logo.ejs %>

    <!-- Start Top Right -->
    <ul class="top-right">

        <li class="link">
            <a href="#" class=""><b><%= user.name %></b></a>
        </li>
        <li class="link">
            |
        </li>
        <li class="link">
            <a href="/logout" class=""><i class="fa falist fa-power-off"></i> Logout</a>
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content sidepanel-active">

    <!-- Start Page Header -->
    <div class="page-header">
        <ol class="breadcrumb">
            <li><a href="/admin">Back To Events</a></li>
            <li class="active"><%= event.event_name %></li>
        </ol>
        <h1 class="title"><%= event.event_name %></h1>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <a href="#" class="btn btn-light go-live"><i class="fa fa-circle"></i>GO LIVE</a>

            <!-- Start Sidepanel Show-Hide Button -->
            <a href="#sidepanel" class="btn btn-light sidepanel-open-button"><i class="fa fa-outdent"></i></a>
            <!-- End Sidepanel Show-Hide Button -->

        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTAINER -->
    <div id="dashboard" class="container-default">

        <div class="row">

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- FEED PANNEL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-transparent feed-panel">
                    <div class="panel-title">
                        Fan
                        <ul class="panel-tools">
                            <li class="user-status offline"><i class="fa fa-circle"></i><span>Offline</span></li>
                        </ul>
                    </div>
                    <div class="panel-body feed-window hide-overflow">
                        <div id="user_holder" class="videoBox">
                            <div id="userBox"></div>
                        </div>
                        <a class="f-s-mode" href="#"><i class="fa fa-arrows-alt"></i></a>
                    </div>

                    <div class="feed-footer">
                        <div class="foot-options">
                            <span class="small url">www.baseurl.com/tokboxshow</span>
                            <div class="right-btns">
                                <a class="btn btn-light" href="#">COPY</a>
                            </div>
                        </div>
                        <div class="foot-options">
                            <span class="alter">Feed is disabled</span>
                            <div class="right-btns">
                                <a class="btn btn-light" href="#">Select Fan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FEED PANNEL -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- FEED PANNEL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-transparent feed-panel">
                    <div class="panel-title">
                        Celebrity
                        <ul class="panel-tools">
                            <li class="user-status good"><i class="fa fa-circle"></i><span>Good</span></li>
                        </ul>
                    </div>
                    <div class="panel-body feed-window hide-overflow">
                        <div id="celebrity_holder" class="videoBox">
                            <div id="celebrityBox"></div>
                        </div>
                        <a class="f-s-mode" href="#"><i class="fa fa-arrows-alt"></i></a>
                    </div>

                    <div class="feed-footer">
                        <div class="foot-options">
                            <span class="small url">www.baseurl.com/tokboxshow</span>
                            <div class="right-btns">
                                <a class="btn btn-light" href="#">COPY</a>
                            </div>
                        </div>
                        <div class="foot-options">
                            <span class="alter">Alter Feed</span>
                            <div class="right-btns">
                                <a class="btn btn-light btn-icon" href="#"><i class="fa fa-volume-up"></i></a>
                                <a class="btn btn-light btn-icon" href="#"><i class="fa fa-microphone"></i></a>
                                <a class="btn btn-light btn-icon" href="#"><i class="fa fa-video-camera"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FEED PANNEL -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- FEED PANNEL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-transparent feed-panel">
                    <div class="panel-title">
                        Host
                        <ul class="panel-tools">
                            <li class="user-status good"><i class="fa fa-circle"></i><span>Good</span></li>
                        </ul>
                    </div>
                    <div class="panel-body feed-window hide-overflow">
                        <div id="host_holder" class="videoBox">
                            <div id="hostBox"></div>
                        </div>
                        <a class="f-s-mode" href="#"><i class="fa fa-arrows-alt"></i></a>
                    </div>

                    <div class="feed-footer">
                        <div class="foot-options">
                            <span class="small url">www.baseurl.com/tokboxshow</span>
                            <div class="right-btns">
                                <a class="btn btn-light" href="#">COPY</a>
                            </div>
                        </div>
                        <div class="foot-options">
                            <span class="alter">Feed is disabled</span>
                            <div class="right-btns">
                                <a class="btn btn-light btn-icon" href="#"><i class="fa fa-volume-up"></i></a>
                                <a class="btn btn-light btn-icon" href="#"><i class="fa fa-microphone"></i></a>
                                <a class="btn btn-light btn-icon" href="#"><i class="fa fa-video-camera"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FEED PANNEL -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- FEED PANNEL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-transparent feed-panel">
                    <div class="panel-title">
                        Backstage Fan
                        <ul class="panel-tools">
                            <li class="user-status offline"><i class="fa fa-circle"></i><span>Offline</span></li>
                        </ul>
                    </div>
                    <div id="BackFanBox" class="panel-body feed-window hide-overflow">
                        <div id="backstage_user_holder" class="videoBox">
                            <div id="BackstageUserBox"></div>
                        </div>
                        <a class="f-s-mode" href="#"><i class="fa fa-arrows-alt"></i></a>
                    </div>

                    <div class="feed-footer no-options">
                        <div class="foot-options">
                            <a href="#">Move to Fan Feed</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FEED PANNEL -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- FEED PANNEL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-transparent feed-panel">
                    <div class="panel-title">
                        Producer Box
                        <ul class="panel-tools">
                            <li class="user-status offline"><i class="fa fa-circle"></i><span>Offline</span></li>
                        </ul>
                    </div>
                    <div class="panel-body feed-window hide-overflow">
                        <div id="producer_holder" class="videoBox yellow">
                            <div id="producerBox"></div>
                        </div>
                        <a class="f-s-mode" href="#"><i class="fa fa-arrows-alt"></i></a>
                    </div>

                    <div class="feed-footer no-options">
                        <div class="foot-options">
                            <a href="#">Move to Fan Feed</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FEED PANNEL -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

        </div>

    </div>
    <!-- END CONTAINER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->


</div>
<!-- End Content -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEPANEL -->
<div id="fan_list" class="sidepanel fan-panel">
    <!-- REACT COMPONENT! -->
</div>

<% include footer.ejs %>
