<!-- End Content -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!---- SCRIPTS --->
<script src="https://enterprise.opentok.com/v2/js/opentok.min.js"></script>
<!--script src="//cdn.socket.io/socket.io-1.4.5.js"></script-->
<script src="/javascripts/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/react/react.js" type="text/javascript"></script>
<script src="/bower_components/react/JSXTransformer.js" type="text/javascript"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/bower_components/moment/min/moment.min.js" type="text/javascript"></script>
<script src="/bower_components/Chart.js/Chart.js" type="text/javascript"></script>

<script type="text/javascript" src="/javascripts/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/javascripts/date-range-picker/daterangepicker.js"></script>
<script type="text/javascript" src="/javascripts/hls/hls.js"></script>
<script type="text/javascript" src="/javascripts/bundle.js"></script>


<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="/javascripts/eventSystem.js"></script>
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<script src="/bower_components/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>

</body>
</html>
