<% include header.ejs %>

<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<div id="top" class="clearfix">

	<% include ../common/app_logo.ejs %>

	<!-- Start Top Right -->
	<ul class="top-right">

		<li class="link">
			<a href="#"><b><%= user.name %></b></a>
		</li>
		<li class="link">
			|
		</li>
		<li class="link">
			<a href="/logout" class=""><i class="fa falist fa-power-off"></i> Logout</a>
		</li>

	</ul>
	<!-- End Top Right -->

</div>
<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="/admin">Back To Events</a></li>
      <li class="active">Metrics</li>
      <h1 class="title">Event Metrics</h1>
    </ol>
    <!-- Start Page Header Right Div -->
    <div class="right">
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->
  <div id="metrics_container" event=<%= eventId %>>

</div>

<% include footer.ejs %>
