<% include header.ejs %>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<div id="top" class="clearfix">
    <% include ../common/app_logo.ejs %>
</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->

<div class="content">
    <div class="container-default">
    	<div id="set_password_container"></div>
    </div>
</div>

<% include footer.ejs%>

</body>
</html>