.ViewEvent .ViewEvent-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    background: #FFFFFF;
}

.ViewEvent .ViewEvent-header a {
    color: #00a3e3;
    font-size: 13px;
}

.ViewEvent .ViewEvent-header h3 {
    color: #37363E;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 5px 0;
}
