<% include common/header.ejs %>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div id="celebrity_host_app_container" class="content fan_view no-header" url=<%= celebrity_host_url %> box-id=<%= box_id %>></div>
<% include common/footer.ejs%>
</body>
</html>