<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%=title%>">
  <meta name="keywords" content="" />
  <title>Error page</title>

  <!-- ========== Css Files ========== -->
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/root.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="content">
    <div class="container-default">
      <div class="boxWrap container">
        <h1>Error Page</h1>
        <% if (debug) { %>
        <p>
          <code><%= message %></code>
        </p>
        <pre>
          <%= error.stack %>
        </pre>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
