<% include common/header.ejs %>
<body <% if (embed == 1) { %>class="embedWidget"<% } %>>
<div class="content fan_view no-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="panel panel-default fan-live-panel">
          <div class="panel-title">
            <h4>
              <span><%=event_name%></span>
            </h4>
          </div>
          <div class="panel-body">
            <div class="preshow-image-window">
              <img id="event-image" class="preshow-image" src="<%= (event_image && event_image != "") ? event_image : "/img/TAB_VIDEO_PREVIEW_LS.jpg" %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<script src="/bower_components/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
  <script>
  swal({
      title: ["<div style='color: #3dbfd9; font-size:22px'>This show is over the maximum number of participants.</div>"].join(''),
      text: "<h4 style='font-size:1.2em'>Please try again in a few minutes.</h4>",
      html: true,
      timer: 999999,
      showConfirmButton: false
    });
  </script>      
</body>
</html>
