.DashboardHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.DashboardHeader h3 {
  color: #37363E;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.DashboardHeader-controls {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.DashboardHeader-controls .btn {
  font-size: 12px;
  width: 150px;
  height: 34px;
  color: rgb(88, 102, 110);
  background-color: white;
}
