body {
  background: #F5F5F5;
  color: #58666E;
  margin: 0;
  line-height: 1.7em;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

.CelebrityHost {
  background-color: #F5F5F5;
  min-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  color: #58666E;
}

.CelebrityHost .Container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  min-height: 1px;
}

.HostCelebChat {
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* Embed styles */
.CelebrityHostEmbed {
  background: #262626;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.CelebrityHostEmbed .Container {
  padding: 0;
}

.CelebrityHostEmbed .CelebrityHostBody {
  height: 76vh;
}

.CelebrityHostEmbed .CelebrityHostBody .imageHolder {
  border: none;
  background: #262626;
}

.CelebrityHostEmbed .CelebrityHostHeader {
  border: 1px solid #262626;
}

.CelebrityHostEmbed .CelebrityHostHeader-main h4 {
  color: #FFFFFF;
}

.CelebrityHostEmbed .CelebrityHostHeader-main {
  background: #262626;
  padding: 12px 12px;
  min-height: 63px;
}

@media (min-width: 768px) {
  .CelebrityHostEmbed .Container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .CelebrityHostEmbed .Container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .CelebrityHostEmbed .Container {
    width: 100%;
  }
}

.CelebrityHostEmbed .btn.action {
  margin: 0;
}
