const api = {
  localhost: 'http://localhost:3001', // Replace this url for your local API server
  production: 'https://ibs-dev-server.herokuapp.com', // Replace this url for your production API server
};

export default api;
 