.FanBody {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  min-height: 50vh;
  border-radius: 0 0 3px 3px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.FanBody .VideoWrap {
  flex: 1;
  align-items: center;
  border: 1px solid #000000;
  min-height: 50vh;
}

.FanBody .hide {
  display:none;
}

.FanBody .publisherWrapper {
  position: absolute;
  left: 1px;
  bottom: 0px;
}

.FanBody .publisherWrapper.hidePublisher {
  z-index:-1;
}

.FanBody .publisherWrapper .publisherActions {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 200px;
  height: 20px;
  background-color: #fff;
}

.FanBody .publisherWrapper .publisherActions button {
  display: inline-block;
  float: right;
  padding: 4px;
  color: #00a3e3;
  background: white;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.FanBody .publisherWrapper .publisherActions button:hover {
  color: #23527c;
}

.FanBody .publisherWrapper .publisherActions button:focus {
  outline: 0;
}

.FanBody .publisherWrapper.minimized .publisherActions {
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 20px;
  height: 20px;
  background-color: white;
}

.FanBody .publisherWrapper.minimized .publisherActions .restore {
  display: inline-block;
  float: right;
  padding: 4px;
}

.FanBody .VideoWrap.smallVideo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 160px;
  background: #444;
  z-index: 999;
  min-height: 0;
}

.FanBody .VideoWrap.smallVideo.hidePublisher {
  z-index: -1;
}

.FanBody .imageHolder {
  width: 100%;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #FFF;
  min-height: 200px;
}

.FanBody .imageHolder img {
  width: 100%;
}

.FanBody .producerContainer {
  position: absolute;
  z-index: -100;
  visibility: hidden;
}
