.FanHeader {
  box-shadow: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px;
  position: relative;
  padding: 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1;
  min-height: 60px;
}

.FanHeader .Title {
  font-family: 'Montserrat', sans-serif;
  color: #58666E;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 20px;
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  border-color: #ddd;
  border: 1px solid transparent;
}

.FanHeader .Title h4 {
  padding-right: 120px;
  margin: 0;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.6;
  color: #37363E;
  text-transform: uppercase;
}

.FanHeader .Title h4 sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -.5em;
  margin-left:3px;
}

.FanHeader .Title ul {
  margin: 0;
  padding: 0 10px 0 0;
  top: 0;
  right: 0;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  text-transform: none;
  font-weight: 600;
  font-size: inherit;
  z-index: 1;
}

.FanHeader .Title ul li {
  line-height: 56px;
  padding: 0;
  margin-left: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.FanHeader .Title ul li span {
  font-weight: bold;
  color: #00A2E3;
}
