.FanHeader {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px;
  position: relative;
  padding: 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1;
  min-height: 60px;
}

.FanHeader-main {
  font-family: 'Montserrat', sans-serif;
  color: #58666E;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 20px;
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  border-color: #ddd;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
}

.FanHeader-main h4 {
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.6;
  color: #37363E;
  text-transform: uppercase;
}

.FanHeader-main h4 sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -.5em;
  margin-left:3px;
}

.FanHeader-main h4 {
  padding-right: 120px;
  margin: 0;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.6;
  color: #37363E;
  text-transform: uppercase;
}

.FanHeader-main .btn {
  height: 36px;
  width: 106px;
}

.Fan-private-call {
  width: 100%;
  background: #EF4836;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.Fan-private-call.active {
  opacity: 1;
}
