.Logout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin-right: 5px;
}

.Logout .divider {
  position: relative;
  top: -2px;
  margin-left: 5px;
  font-size: 18px;
}

.Logout .btn .fa {
  margin-top: 2px;
  margin-left: 5px;
}