.ProducerPrimary {
  padding: 30px;
}

.ProducerPrimary-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  color: #58666E;
  font-size: 12px;
}

.ProducerPrimary-info .private-call {
  width: 100%;
  background: #EF4836;
  color: white;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}

.ProducerPrimary-info .private-call.active {
  opacity: 1;
}

.ProducerPrimary-participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.ProducerPrimary-participants .producerContainer {
  position: absolute;
  visibility: hidden;
  z-index: -100;
}
