.ProducerHeader {
    display: flex;
    padding: 10px 0px 10px 13px;
    background: #ffffff;
    height: 140px;
    flex-direction: column;
}

.ProducerHeader-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 700px;
}

.ProducerHeader-info a {
    color: #00a3e3;
    font-size: 13px;
}

.ProducerHeader-info h3 {
    color: #37363E;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 5px 0;
}

.ProducerHeader-info .post-production-url {
    display: flex;
    font-size: 10.5px;
    color: #58666E;
    align-items: center;
    margin-top: 5px;
}

.ProducerHeader-info .post-production-url .label {
    margin-right: 5px;
}

.ProducerHeader-info .post-production-url .btn {
    font-size: 12px;
    margin-left: 15px;
    height: 24px;
}

.ProducerHeader-controls {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
}

.ProducerHeader-controls .event-status {
  display: inline-block;
  font-size: 12px;
  padding: 1.5px;
  border: none;
  margin: 0 0 0 4px;
  border-radius: 3px;
  border-color: #26A65B;
  color: #26A65B;
  font-weight: 400;
  min-width: 90px;
  text-align: center;
  border: 2px solid;

}

.ProducerHeader-controls>button {
    height: 30px;
    margin: 0 2px;
}

.ProducerHeader-controls .btn.go-live {
    color: #30c06c;
}

.ProducerHeader-controls .btn.go-live .icon {
    margin-right: 5px;
}

.ProducerHeader-controls .btn.go-live:hover {
    background: #30c06c;
    color:#ffffff;
}

.ProducerHeader-controls .btn.end-show {
  min-width: 103px;
}

.ProducerHeader-controls .btn.white.copy-admin-id {
  min-width: 118px;
}

.ProducerHeader-controls .btn.end-show .icon {
  padding-right: 3px;
}


