.AddUser {
    position: relative;
}

.AddUser .header-container {
    position: absolute;
    top: 0;
    height: 100%;
    right: 10%;
    color: #607d8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddUser .header-container h4 {
    margin: 10px 0 0;
}