.Chat {
    width: 260px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

.ChatHeader {
    display: flex;
    justify-content: space-between;
    background-color: #00a3e3;
    height: 25px;
}

.ChatHeader .btn,
.ChatHeader .icon {
    color: white;
    background-color: transparent;
}

.ChatHeader .btn.minimize:hover {
    text-decoration: underline;
}

.ChatMain {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E6E6E6;
}

.ChatMessages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 5px;
}

.ChatMessages .Message {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.ChatMessages .Message.isMe {
  justify-content: flex-end;
}

.ChatMessages .Message .MessageText {
  max-width: 85%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 3px 6px;
  background-color: white;
  border-radius: 8px;
}

.ChatMessages .Message.isMe .MessageText {
  background-color: lightblue;
}

.ChatForm {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.ChatForm * {
  border-radius: 0 !important;
}

.ChatForm input {
  padding: 2px;
  width: 85%;
}

.ChatForm .btn {
  width: 15%;

}

.ChatForm .btn.red {
  background-color: crimson;
}


