.Chat {
    width: 260px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

.Chat.hidden {
    visibility: hidden;
}

.ChatHeader {
    display: flex;
    justify-content: space-between;
    background-color: #00a3e3;
    height: 25px;
}

.ChatHeader .btn,
.ChatHeader .icon {
    color: white;
    background-color: transparent;
    text-align: left;
    font-size: 13px;
}

.ChatHeader .btn.minimize:hover {
    text-decoration: underline;
}

.ChatActions {
    display: flex;
    justify-content: flex-start;
    background: #F5F5F5;
    padding: 5px;
}

.ChatActions .btn {
    margin-right: 3px;
    font-size: 12px;
}

.ChatPrivateCall {
    height: 125px;
    padding: 5px;
    background: black;
    display: none;
}

.ChatPrivateCall.inPrivateCall {
    display: initial;
}

.ChatMain {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E6E6E6;
}

.ChatMessages {
    overflow-y: scroll;
    padding: 5px;
    height: 258px;
}

.ChatMessages .Message {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 6px;
    overflow-wrap: break-word;
}

.ChatMessages .Message.isMe {
    justify-content: flex-end;
}

.ChatMessages .Message .MessageText {
    max-width: 85%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
    padding: 3px 6px;
    background-color: white;
    border-radius: 8px;
}

.ChatMessages .Message.isMe .MessageText {
    background-color: lightblue;
}

.ChatForm {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.ChatForm * {
    border-radius: 0 !important;
}

.ChatForm input {
    padding: 2px;
    width: 85%;
    border: 1px darkgrey;
}
.ChatForm input:focus {
    outline:0;
}

.ChatForm .btn {
    width: 15%;
}

.ChatForm .btn.red {
    background-color: crimson;
}