.input {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1;
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
}
.input.addon-white{
    background-color: white;
}
.left-rounded{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.right-rounded{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.UrlField .btn-light{
    height: 35px;
    border-radius: 0px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    text-decoration: none;
    font-weight: bolder;
    width: 100px;
    float: right;
}