.Login {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto 0;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.Login-header {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.Login-header img {
  height: 75px;
  width: 75px;
}

.Login-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  font-style: italic;
}

.Login-forgot {
  font-style: italic;
}

.Login-forgot:hover {
  background-color: initial !important;
}

.Login-error {
  color: red;
  font-weight: 600;
}

