.LoginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.LoginForm .input-container {
  position: relative;
  width: 78%;
  margin: 10px 0;
}

.LoginForm .input-container .icon {
  position: absolute;
  top: 12px;
  left: 14px;
}

.LoginForm .input-container input {
  height: 40px;
  width: 100%;
  font-size: 14px;
}

.LoginForm .input-container input[type=email],
.LoginForm .input-container input[type=password] {
  border: 1px solid #BDC4C9;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px #F1F0F1;
  padding: 6px 12px 6px 40px;
}