.Broadcast {
    display: flex;
    position: relative;
    width: 100vw;
}
.Broadcast-main {
    height: 100vh;
    width: calc(100% - 320px);
    transition: width .5s;
}

.Broadcast-main.full {
    width: 100%;
}

