.DashboardEvents-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DashboardEvents-controls .filter-events,
.DashboardEvents-controls .sort-events {
    display: flex;
    align-items: center;
}

.DashboardEvents-controls .sort-events {
    padding: 0 5px;
}

.DashboardEvents-controls .filter-events .btn,
.DashboardEvents-controls .sort-events .btn {
    width: 120px;
    height: 30px;
    margin: 0 5px;
    font-size: 13px;
}

.DashboardEvents-controls .sort-events .sort-events-label {
    margin-right: 5px;
    color: #888;
    font-size: 13px;
}

.DashboardEvents-controls .sort-events .btn {
    display: flex;
    margin: 0;
    border: none;
    background-color: #E4E4E4;
    color: #58666e;
}

.DashboardEvents-controls .sort-events button:nth-of-type(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.DashboardEvents-controls .sort-events button:nth-of-type(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0px;
}

.DashboardEvents-controls .sort-events button:nth-of-type(3) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.DashboardEvents-controls .sort-events .btn .fa {
    display: none;
    margin: 1px 3px 0 0;
}

.DashboardEvents-controls .sort-events .btn.active {
    color: white;
    background-color: #46b8da;
}

.DashboardEvents-controls .sort-events .btn.active .fa {
    display: initial;
}