.EventList {
    background-color: white;
    margin: 10px 5px;
    padding: 10px;
    list-style-type: none;
}

.EventList-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e8ebed;
    border-radius: 3px;
}

.EventList-item .event-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.EventList-item .event-info .event-name>* {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(88, 102, 110);
}

.EventList-item .event-info .event-name a {
    color: #00a3e3;
}

.EventList-item .event-info .event-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #888;
    font-size: 13px;
}

.EventList-item .event-info .event-time .date,
.EventList-item .event-info .event-time .duration {
    margin: 2px 0;
}

.EventList-item .event-info .event-time .duration .fa {
    margin-right: 5px;
}

.EventList-item .event-info .event-status {
    font-size: 12px;
    border: 2px solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 2px 14px;
}

.EventList-item .event-info .event-status.created {
    color: #00a3e3;
    border-color: #00a3e3;
}

.EventList-item .event-info .event-status.preshow {
    color: #F39C12;
    border-color: #F39C12;
}

.EventList-item .event-info .event-status.live {
    color: #26A65B;
    border-color: #26A65B;
}

.EventList-item .event-info .event-status.closed {
    color: #E4E4E4;
    border-color: #E4E4E4;
}

.EventList-item .event-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventList-item .event-actions .event-action {
    height: 34px;
    margin: 0 5px;
    padding: 7px 20px;
}

.EventList-item .event-actions .event-action.start,
.EventList-item .event-actions .event-action.view {
    background-color: #30c06c;
}

.EventList-item .event-actions .event-action.view.live,
.EventList-item .event-actions .event-action.download {
    background-color: #46b8da;
}

.EventList-item .event-actions .event-action.edit {
    background-color: rgba(243, 156,18,.80);
}

.EventList-item .event-actions .event-action.delete {
    background-color: #EF4836;
}

.EventList-item .event-actions .event-action.end,
.EventList-item .event-actions .event-action.close {
    color: rgb(88, 102, 110);
    background-color: #E4E4E4;
}

.EventList-item .event-actions .event-action span.fa {
    margin-right: 5px;
}