@import url('./css/react-redux-toastr.css');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #00a3e3;
}

input.error {
    border-color: red !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background-color: #00a3e3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:active,
.btn:focus,
.btn.active {
    background-image: none;
    outline: 0;
    box-shadow: none;
}

.btn.white {
    color: rgb(88, 102, 110);
    background-color: white;
    border: 1px solid rgb(232, 235, 237);
}

.btn.white:hover {
    background-color: rgb(249, 249, 249);
}

.btn.transparent {
    color: #00a3e3;
    background-color: transparent;
    border: none;
}

.btn.transparent:hover {
    background-color: #eee;
}

.btn.action {
    height: 34px;
    margin: 0 5px;
    padding: 7px 20px;
}

.btn.action.green {
    background-color: #30c06c;
}

.btn.action.blue {
    background-color: #46b8da;
}

.btn.action.orange {
    background-color: rgba(243, 156,18,.80);
}

.btn.action.red {
    background-color: #EF4836;
}

.btn.action.grey {
    color: rgb(88, 102, 110);
    background-color: #E4E4E4;
}

.btn.action span.fa {
    margin-right: 5px;
}

.link.white,
.link.white:visited,
.link.white:hover,
.link.white:active {
    color: white;
}

.admin-page-header {
    height: 92px;
}

.admin-page-content {
    background: #F5F5F5;
    padding: 20px;
}

.admin-page-list {
    background-color: white;
    margin: 10px 5px;
    padding: 10px;
    list-style-type: none;
}

.admin-page-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e8ebed;
    border-radius: 3px;
}